@import '../Foundation/mixin';
@import '../Foundation/variable';

.l-gnav {
  &__contents {
    &--before-login {
      @include flex();
      padding: 15px 30px 15px 0;
    }
  }

  &__list {
    font-size: 14px;
    position: relative;
    @include flex(between, center);
  }
  
  &__link {
    padding: 0 30px 0 0;

    a {
      color: $dark-grey;

      &:hover {
        color: $blue;
      }
    }
  }
}